<html>
  <head>
  	<title>DojoByte Login</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1 id='title'>Welcome to DojoByte!<img id='beef' src="/static/images/Beef_Ribs.jpg" class="img-circle" alt="Beef" width="304" height="236"></h1>
		{% with messages = get_flashed_messages() %}
		    {% if messages%}
		      {% for message in messages %}
		        <h4>{{message}}</h4>
		      {% endfor %}
		    {% endif %}
		  {% endwith %}
<div id = "body">
	<!-- Registration -->
<div id = "left">
	<h3>Register</h3>
	<form role='form' action = "/register" method = "post">
		<div class='form-group'>
			<label for='alias'>Alias:</label>
			<input type='text' class='form-control' id='alias'>
		</div>
		<div class='form-group'>
			<label for='email'>Email:</label>
			<input type='email' class='form-control' id='email'>
		</div>
		<div class='form-group'>
			<label for='pwd'>Password:</label>
			<input type='password' class='form-control' id='pwd'>
		</div>
		<p>*Password should be at least 8 characters</p>
		<div class='form-group'>
			<label for='confirm_pw'>Confirm Password:</label>
			<input type='text' class='form-control' id='confirm_pw'>
		</div>
		<div class='form-group'> 
			<select name = "location">
			<optgroup label = "Choose Your Location!">
				<option>Bellevue</option>
				<option>Dallas</option>
				<option>Los Angeles</option>
				<option>New York</option>
				<option>Philippines</option>
				<option>Silicon Valley</option>
			</optgroup>
			</select>
		</div>
		<button type='submit' class='btn btn-primary'>Register</button>
	</form>
</div>
	<!-- Login -->
<div id = "right">
	<h3>Login</h3>
    <form role='form' action = "/login" method = "post">
    	<div class='form-group'>
	    	<label for='email'>Email:</label>
	    	<input type = "email" class='form-control' id="email">
	    </div>
	    <div class='form-group'>
	    	<label for='password'>Password:</label>
	    	<input type = "password" class='form-control' id="pwd">
	    </div>
	    <button type='submit' class='btn btn-primary'>Log in</button>
    </form>
</div>

</div>
</body>
</html>
